.input {
  border: 1px solid var(--hit-gray);
  border-radius: rem(4px);
  padding: 0 rem(20px);
  width: 100%;
  height: rem(60px);
  color: var(--hit-gray);

  &::placeholder {
    color: var(--hit-gray);
  }

  &:focus {
    outline: none;
    border-color: currentcolor;
    color: var(--trout);

    &::placeholder {
      font-size: 0;
    }
  }

  &:disabled {
    border-color: currentcolor;
    color: var(--ghost);
    pointer-events: none;

    &::placeholder {
      color: currentcolor;
    }
  }
}