@import "@shared/button/button";

.chat {
  &__title {
    margin-bottom: em(16px, 16px);
    font-weight: 700;
    color: var(--primary);
  }

  &__field {
    margin-bottom: rem(20px);
    border: 1px solid var(--hit-gray);
    padding-top: rem(16px);
    padding-left: rem(16px);
    min-height: rem(120px);
    color: var(--hit-gray);
    resize: vertical;

    &::placeholder {
      color: currentcolor;
    }
  }
}