@import "../mixins";
@import "@shared/nav/nav";
@import "@shared/header/header";
@import "@shared/input/input";
@import "@shared/button/button";
@import "@shared/support-chat/support-chat";

.account {
  width: 100%;

  &__content {
    padding-top: rem(40px);
    padding-bottom: rem(120px);
    gap: rem(50px);
  }

  &__section {
    gap: rem(20px);
  }

  &__subtitle {
    margin-bottom: em(10px, 24px);
  }

  &__row {
    align-items: end;
    grid-template-columns: 460px 1fr;
    gap: rem(25px);
  }

  &__field {
    max-width: rem(460px);
  }

  &__caption {
    display: block;
    margin-bottom: em(8px, 16px);
  }

  &__input {
    border: 1px solid var(--ghost);
    border-radius: rem(4px);
    padding: 0 rem(20px);
    width: 100%;
    height: rem(70px);
    color: var(--black);

    &::placeholder {
      color: var(--hit-gray);
    }
  }

  &__btn {
    max-width: rem(350px);
  }

  &__link {
    display: block;
    text-decoration: underline;
    color: var(--red);

    &_right {
      margin-left: auto;
    }
  }
}

.account-table {
  width: 100%;

  &__header {
    margin-bottom: rem(20px);
    border-bottom: 1px solid #dee2e6;
    padding: rem(20px) 0;
  }

  &__body {
    gap: rem(20px);
  }

  &__row {
    grid-template-columns: 3fr 3fr 2fr 1fr;
    width: 100%;
    gap: rem(30px);
  }

  &__button {
    align-items: center;
    color: var(--black);
    transition: color 0.3s ease-in-out;

    &::after {
      content: "";
      display: block;
      margin-left: rem(8px);
      width: rem(12px);
      height: rem(20px);
      background-image: url("../images/svg/group-carets.svg");
      background-size: cover;
    }

    @include hover {
      color: var(--red);
    }
  }

  &__cell {
    color: var(--black);
  }
}