@import "../mixins";
@import "@shared/auth-logo/auth-logo";
@import "@shared/auth-field/auth-field";
@import "@shared/button/button";

.auth {
  flex-direction: column;
  align-items: center;
  padding: rem(140px) 0;

  &__title {
    margin-bottom: em(40px, 40px);
    font-size: rem(40px);
    line-height: 120%;
    color: var(--black);
  }

  &__form {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(20px);
    width: 100%;
    max-width: rem(540px);
  }

  &__link {
    color: var(--hit-gray);

    &_decoration {
      text-decoration: underline;
    }
  }

  &__button {
    margin-top: rem(20px);
  }

  &__footer {
    grid-template-columns: repeat(2, auto);
    gap: rem(30px);
  }
}