@import "../mixins";

.auth {
  flex-direction: column;
  align-items: center;
  padding-top: rem(140px);

  &__logo {
    margin-bottom: rem(40px);
  }

  &__title {
    margin-bottom: rem(40px);
    font-size: rem(40px);
    line-height: 120%;
    color: var(--black);
  }

  &__form {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(20px);
    width: 100%;
    max-width: rem(540px);

    .auth__link {
      margin-bottom: rem(12px);
    }
  }

  &__field {
    position: relative;
    margin-bottom: rem(12px);
    width: 100%;
  }

  &__icon {
    position: absolute;
    left: rem(20px);
    top: rem(18px);
    fill: var(--hit-gray);
  }

  &__input {
    border: 1px solid var(--hit-gray);
    border-radius: 4px;
    padding-right: rem(20px);
    padding-left: rem(60px);
    width: 100%;
    height: rem(60px);
    color: var(--trout);

    &::placeholder {
      color: var(--hit-gray);
    }

    &:focus {
      outline: none;
      border-color: var(--trout);

      &::placeholder {
        font-size: 0;
      }
    }
  }

  &__link {
    color: var(--hit-gray);
    transition: color 0.3s ease-in-out;

    &_decoration {
      text-decoration: underline;
    }

    @include hover {
      color: var(--red);
    }
  }

  &__btn {
    border: 1px solid var(--red);
    border-radius: rem(4px);
    width: 100%;
    height: rem(60px);
    font-weight: 700;
    color: var(--white);
    background-color: var(--red);
    transition: all 0.3s;

    &:disabled {
      border-color: var(--hit-gray);
      background-color: var(--hit-gray);
      pointer-events: none;
    }

    @include hover {
      color: var(--red);
      background-color: var(--white);
    }
  }

  &__footer {
    grid-template-columns: repeat(2, auto);
    gap: rem(30px);
  }
}