@import "../mixins";
@import "@shared/nav/nav";
@import "@shared/header/header";
@import "@shared/support-chat/support-chat";

.news {
  width: 100%;

  &__content {
    padding: rem(30px) 0 rem(120px);
  }

  &__subtitle {
    margin-bottom: em(30px, 24px);
  }

  &__list {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30px);
  }

  &__item {
    width: 100%;
  }

  &__header {
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(12px);
  }

  &__name {
    color: var(--black);
  }

  &__date {
    color: var(--pale-sky);
  }

  &__text {
    color: var(--pale-sky);
  }
}