@import "../mixins";
@import "@shared/admin-nav/admin-nav";
@import "@shared/admin-header/admin-header";
@import "@shared/input/input";
@import "@shared/button/button";

.publish-news {
  width: 100%;

  &__container {
    padding: var(--container-offset-v) var(--container-offset-h);
  }

  &__content {
    padding: rem(10px) 0;
  }

  &__title {
    margin-bottom: em(40px, 20px);
    font-size: rem(20px);
    line-height: 120%;
    color: var(--primary);
  }

  &__form {
    gap: rem(30px);
  }

  &__caption {
    display: inline-block;
    margin-bottom: em(8px, 16px);
  }

  &__input {
    height: rem(40px);
  }

  &__textarea {
    padding-top: rem(20px);
    height: rem(395px);
    resize: none;
  }

  &__btn {
    height: rem(32px);
    max-width: rem(150px);
  }
}