html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  padding: var(--container-offset-v) var(--container-offset-h);
  max-width: calc(var(--content-width) + var(--container-offset-h) * 2);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

th,
td {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.dis-scroll {
  overflow: hidden;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 0;
  font-family: inherit;
  background-color: transparent;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.btn-reset {
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.text-xs {
  font-size: rem(12.8px);
  line-height: 150%;
}

.text-md {
  font-size: rem(16px);
  line-height: 150%;
}

.text-xl {
  font-size: rem(24px);
  line-height: 120%;
}

.subtitle {
  color: var(--black);
}