.table {
  overflow: hidden;
  border-radius: rem(10px) rem(10px) 0 0;
  border-spacing: 0;
  width: 100%;
  text-align: left;

  &__header {
    background-color: #eeeff3;
  }

  &__body {
    .table__row {
      position: relative;
      padding: rem(20px) 0;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: rem(2px);
        background-color: #dadbe2;
      }
    }
  }

  &__cell {
    padding: rem(15px);
  }

  &__icon {
    fill: #979ba4;
  }

  &__btn {
    border-radius: rem(4px);
    padding: 0 rem(10px);
    height: rem(21px);
    font-weight: 700;
    font-size: rem(9px);
    white-space: nowrap;
    color: var(--white);

    &_green {
      background-color: #038f11;
    }

    &_red {
      background-color: #be2d2e;
    }
  }

  &__control {
    display: grid;
    gap: rem(2px);

    span {
      border-radius: 50%;
      width: rem(3px);
      height: rem(3px);
      background-color: var(--pale-sky);
    }
  }
}