.support-chat {
  position: fixed;
  right: calc((100% - rem(1110px)) / 2);
  bottom: rem(80px);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: rem(62px);
  height: rem(62px);
  background-color: var(--red);
  filter: drop-shadow(0 0 20px rgba(216 49 91 / 50%));

  &__icon {
    fill: var(--white);
  }
}