.header {
  align-items: center;
  justify-content: space-between;

  &__title {
    font-weight: 700;
    font-size: rem(32px);
    line-height: 120%;
    color: var(--primary);
  }

  &__menu {
    align-items: center;
  }

  &__notice {
    margin-right: rem(18px);
    width: rem(24px);
    height: rem(24px);
    background-image: url("../images/svg/bell.svg");
  }

  &__welcome {
    color: #6c757d;

    span {
      font-weight: 700;
      font-size: rem(20px);
      line-height: 120%;
      color: var(--black);
    }
  }
}