@import "@shared/logo/logo";

.nav {
  position: sticky;
  top: rem(40px);
  margin-right: rem(30px);
  border-radius: 4px;
  padding: rem(40px) rem(25px);
  height: 100%;
  max-width: rem(255px);
  background-color: var(--primary);

  &__top {
    align-items: center;
    justify-content: center;
    margin-bottom: rem(70px);
    border-radius: rem(86px);
    width: 100%;
    height: rem(92px);
    background-color: #f8f9fa;
  }

  &__logo {
    width: rem(134px);
    height: rem(46px);
  }

  &__list {
    margin-bottom: rem(170px);
  }

  &__item:not(:last-child) {
    margin-bottom: rem(30px);
  }

  &__btn {
    display: flex;
    font-size: rem(16px);
    line-height: 150%;
    text-align: left;
    color: var(--hit-gray);
    transition: color 0.3s ease-in-out;

    &_current {
      color: var(--white);
      pointer-events: none;
    }

    @include hover {
      color: var(--white);
    }
  }

  &__icon {
    margin-right: rem(16px);
    color: inherit;
    fill: currentcolor;
  }
}