@import "../input/input";

.auth-field {
  position: relative;
  width: 100%;
  user-select: none;

  &__icon {
    position: absolute;
    left: rem(20px);
    top: rem(18px);
    fill: var(--hit-gray);
  }

  &__input {
    margin-bottom: rem(12px);
    padding-right: rem(20px);
    padding-left: rem(60px);

    &_single {
      margin: 0;
    }
  }
}